@{
    ViewData["Title"] = "Conclude " + Model.Title  ;
}

@model MVC.ViewModels.ConcludeViewModel

@Model.Title  

<br />

<form method="post" action="/Bet/Conclude/">
    @foreach (var Outcome in Model.Outcomes)
    {
            <div>
                <input id="@Outcome.Id"
                       name="SelectedOutcome"
                       type="radio"
                       value="@Outcome.Id" />
                <label for="@Outcome.Id">@Outcome.Title</label>                      
            </div>
    } 
    <input type="submit" value="Submit" class="submit" />
</form>