@using MVC.ViewModels;

@{
    ViewData["Title"] = "Lobby Page";
}

@model JoinBetViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="/Lobby/Show/@Model.LobbyId"><h3>In @Html.DisplayFor(m => m.LobbyTitle)</h3></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h1 class="header">
                @Html.DisplayFor(m => m.Title)
            </h1>
            <dl>
                <dt>
                    Decription
                </dt>
                <dd>
                    @Html.DisplayFor(m => m.Description)
                </dd>
            </dl>
        </div>
        <div class="col-md-4 text-md-right">
            <h2>Money pool</h2><br/>
            @Html.DisplayFor(m => m.MoneyPool)
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            @Html.Partial("_Outcome", Model.Outcomes[0])
        </div>
        <div class="col-md-2">
            <h1 class="text-md-center">VS</h1>
        </div>
        <div class="col-md-5 text-md-right">
            @Html.Partial("_Outcome", Model.Outcomes[1])
        </div>
    </div>
</div>
