@using MVC.ViewModels;

@{
    ViewData["Title"] = "Lobby Page";
}

@model ShowBetViewModel

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                @Html.DisplayFor(m => m.Title)
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <dl>
                        <dt>
                            Decription
                        </dt>
                        <dd>
                            @Html.DisplayFor(m => m.Description)
                        </dd>
                    </dl>
                </div>
                <div class="col-md-4 text-md-right">
                    <dl>
                        <dt>
                            Money pool
                        </dt>
                        <dd>
                            @Html.DisplayFor(m => m.MoneyPool)
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                @{
                    // Create the two viewmodels.
                    PrintOutcomeViewModel left = Model.Outcomes[0];
                    PrintOutcomeViewModel right = Model.Outcomes[1];

                    left.Left = true;
                }
                @Html.Partial("_PrintOutcome", left)
                <div class="col-md-2">
                    <h1 class="text-center">
                        VS
                    </h1>
                </div>
                @Html.Partial("_PrintOutcome", right)
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="lead">
                        Current Judge(s)
                    </p>
                    <ul>
                        <li>@Html.DisplayFor(m => m.Judge)</li>
                    </ul>
                    <span class="pull-right">
                        @Html.ActionLink("Return to lobby", "Show", "Lobby", new { id = Model.LobbyId }, new { @class = "btn btn-raised btn-primary pull-right" })
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

