@using Common.Models
@using MVC.ViewModels;

@{
    ViewData["Title"] = "Lobby Page";
}

@model BetViewModel

<div class="container">
        <div class="row">
            <div class="col-md-8">

                <h1 class="header">
                    @Html.DisplayFor(m => m.Title)
                </h1>
                <dl>
                    <dt>
                        Decription
                    </dt>
                    <dd>
                        @Html.DisplayFor(m => m.Description)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4 text-md-right">
                <h2>Money pool</h2><br />
                @Html.DisplayFor(m => m.MoneyPool)
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <h2 class="pull-left">
                    <b>
                        @Html.DisplayFor(m => m.Outcomes[0])
                        #1
                    </b>
                </h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            @foreach (var u in Model.Outcomes[0].Participants)
                            {
                                @u.Username
                            }
                            
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>mrleedkponyfanforever</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>mgs420</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
                <h1 class="text-center">VS</h1>
            </div>
            <div class="col-md-5">
                <h2 class="text-md-right"> <b>
                    @Html.DisplayFor(m=>m.Outcomes[1])
                    #2
                </b></h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Shadowkiller2</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>denseje1</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>jts</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="lead">
                    Current Judge(s)
                </p>
                <ul>
                    <li>@Html.DisplayFor(m => m.Judge)</li>
                </ul>
            </div>
        </div>
</div>
