@using MVC.ViewModels;

@{
    ViewData["Title"] = "Home Page";
}

@model CreateLobbyViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="header">
                Create lobby
            </h1>

            <form method="post" action="/Lobby/Create" >
                <div class="row form-group label-floating">
                    @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "help-block" })
                </div>
                <div class="row form-group label-floating">
                    @Html.LabelFor(m => m.Description, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Description, null, new { @class = "help-block" })
                </div>
                <div class="row">
                    <button type="submit" value="post" name="action:post" class="btn btn-primary pull-right">Create lobby</button>
                    <button type="reset" class="btn btn-primary pull-left">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
