@using MVC.Models.Userlogic
@using MVC.ViewModels;

@{
    ViewData["Title"] = "LobbyPage";
}

@model LobbyViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="header">
                @Html.DisplayFor(m => m.Name)
            </h1>

            @foreach (var b in Model.Bets)
            {
                <div class="row" align="left">
                    <p class="lead">
                        <label type="label" class="btn btn-default" aria-label="Left Align" data-toggle="tooltip" title="Joined">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </label>
                        @b.Name

                       @if (b.Judge.Username == User.Identity.Name)
                       {
                           <a class="btn btn-primary pull-right" href="/Bet/Conclude/@b.BetId">Conclude</a>
                       }
                        <a class="btn btn-primary pull-right" href="/Bet/Join/@b.BetId">Join Bet</a>
                      
                        
                        <a class="btn btn-primary pull-right" href="/Bet/Show/@b.BetId">Info</a>
                        <!-- TODO: Only show when logged in user is owner of shown bet -->
                        @if (b.Owner.Username == User.Identity.Name)
                        {
                            if (b.StartDate < DateTime.Now)
                            {
                                <a class="btn btn-primary pull-right disabled" data-toggle="tooltip" title="Bet is already in progress" href="#">Remove</a>
                            }
                            else
                            {
                                <a class="btn btn-primary pull-right" href="/Bet/Remove/@b.Lobby.LobbyId/@b.BetId">Remove</a>
                            }
                        }
                        <label type="label" class="btn btn-default pull-right" aria-label="Left Align" data-toggle="tooltip" title="Entry fee @b.BuyIn">
                            @b.BuyIn
                        </label>
                        <label type="label" class="btn btn-default pull-right" aria-label="Left Align" data-toggle="tooltip" title="5 minutes left">
                            <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
                        </label>
                    </p>
                </div>
            }
            <p class="lead">
                <a href="/Bet/Create/@Model.ID" class="btn btn-primary pull-left">Create new bet</a>
                <a href="/Lobby/Leave/@Model.ID" class="btn btn-primary pull-right">Leave Lobby</a>
            </p>
            <div class="row">
                @Html.Partial("Invite", new InviteToLobbyViewModel() {Id = Model.ID, Username = ""})
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Members of this lobby</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var u in Model.Participants)
                        {
                            <tr>
                                <th scope="row">1</th>
                                <td>@u.Username</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>