@using MVC.ViewModels;

@{
    ViewData["Title"] = "Lobby Page";
}

@model LobbyViewModel

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <h1>
                        @Html.DisplayFor(m => m.Name)
                    </h1>
                </div>
                <div class="col-md-4">
                    @Html.ActionLink("Leave lobby", "Leave", new { controller = "Lobby", id = Model.Id }, new { @class = "btn btn-raised btn-warning pull-right" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("_ListActiveBets", Model)
                    @Html.Partial("_ListInactiveBets", Model)
                    @Html.Partial("Invite", new InviteToLobbyViewModel() { Id = Model.Id, Username = "" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading" data-toggle="collapse" data-target="#collapse_usersinlobby">
                            <h1 class="panel-title">
                                Users in lobby
                                @Html.Partial("_CollapsibleInfoText")
                            </h1>
                        </div>
                        <div id="collapse_usersinlobby" class="panel-collapse collapse in">
                            <div class="panel-body">
                                @Html.Partial("_PrintUserList", Model.Participants.Select(x => x.Username).ToList())
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading" data-toggle="collapse" data-target="#collapse_usersinvitedtolobby">
                            <h1 class="panel-title">
                                Invited users
                                @Html.Partial("_CollapsibleInfoText")
                            </h1>
                        </div>
                        <div id="collapse_usersinvitedtolobby" class="panel-collapse collapse in">
                            <div class="panel-body">
                                @Html.Partial("_PrintUserList", Model.InvitedUsers.Select(x => x.Username).ToList())
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
