@using MVC.ViewModels;

@{
    ViewData["Title"] = "Profile";
}

@model UserProfileViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Brugeroplysninger
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                         <div class="col-md-6" >
                             <p style="text-align: left; font-size: 20px">
                                    Firstname
                             <span style="float: right;">@Html.DisplayFor(m => m.FirstName)</span>
                                 <p />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p style="text-align: left; font-size: 20px">
                                Lastname
                                <span style="float: right;">@Html.DisplayFor(m => m.LastName)</span>
                            <p />
                        </div>
                </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p style="text-align: left; font-size: 20px">
                                Email
                                <span style="float: right;">@Html.DisplayFor(m => m.Email)</span>
                            <p />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p style="text-align: left; font-size: 20px">
                            Username
                            <span style="float: right;">@Html.DisplayFor(m => m.UserName)</span>
                            <p />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p style="text-align: left; font-size: 20px">
                                Balance
                                <span style="float: right;">@Html.DisplayFor(m => m.Balance)</span>
                            <p />
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-12">
                               @Html.ActionLink("Edit", "EditProfile", "User", new {@class="btn btn-raised btn-primary pull-right"})
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
