@{
    ViewData["Title"] = "Home Page";
}

@model  MVC.ViewModels.HomeViewModel

<div class="container">
    <div class="row">
        <h1>
            Home
        </h1><br />
        <div class="col-md-5">
            <h2 class="label" style="font-size: 20px; background-color: darkslategray">Welcome : @Model.Name </h2>  <br><br />
        </div>
        <div class="col-md-5">
            <h2 class="label" style="font-size: 18px; background-color: darkslategray">Your Balance is : @Model.CurrentBalance </h2>
        </div>
            <br /><br />

        </div>
    <div class="row">
        <div class="col-md-6" align="left">

            @* List Lobby Invites *@
            <h3>Invites</h3>
            @if (Model.InvitedToLobbies.Any())
            {
                foreach (var l in Model.InvitedToLobbies)
                {
                    <div class="row">
                        <div class="col-md-6">
                            <h4>
                                @l.Name
                            </h4>
                        </div>
                        <div class="col-md-6 text-md-right text-sm-left">
                            <a class="btn btn-primary" href="/Lobby/Accept/@l.LobbyId">Accept</a>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>You have no lobby invites</p>
            }
            @* List Bets *@
            <h3>Bets</h3>
            @if (Model.Bets.Any())
            {
                foreach (var b in Model.Bets)
                {
                    <div class="row" align="left">
                        <p class="lead">
                            <label type="label" class="btn btn-default" aria-label="Left Align" data-toggle="tooltip" title="Joined">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </label>
                            <h4>
                                @b.Name
                            </h4>

                            @if (b.Judge.Username == Model.Username)
                            {
                                <a class="btn btn-primary pull-right" href="/Bet/Conclude/@b.BetId">Conclude</a>
                            }

                            <!-- TODO: Only show when logged in user is owner of shown bet -->
                            @if (b.Owner.Username == Model.Username)
                            {
                                <a class="btn btn-primary pull-right" href="/Bet/Remove/@b.Lobby.LobbyId/@b.BetId">Remove</a>
                            }
                            <label type="label" class="btn btn-default pull-right" aria-label="Left Align" data-toggle="tooltip" title="Entry fee @b.BuyIn">
                                @b.BuyIn
                            </label>
                            <label type="label" class="btn btn-default pull-right" aria-label="Left Align" data-toggle="tooltip" title="Bet ends @b.StopDate">
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            </label>
                        </p>
                    </div>
                }
            }
            else
            {
                <p>You have no active bets</p>
            }
             <h3>Invites</h3>
            @if (Model.InvitedToLobbies.Any())
            {
                foreach (var l in Model.InvitedToLobbies)
                {
                    <div class="row">
                        <div class="col-md-6">
                            <h4>
                                @l.Name
                            </h4>
                        </div>
                        <div class="col-md-6 text-md-right text-sm-left">
                            <a class="btn btn-primary" href="#">Info</a>
                            <a class="btn btn-primary" href="/Lobby/Accept/@l.LobbyId">Accept</a>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>You have no lobby invites</p>
            }

            <h3>Friendlist</h3>
            <div><a class="btn btn-primary" href="/friend">add friends</a></div>
            
            @if (Model.Friendlist.Any())
            {
               foreach (var f in Model.Friendlist)
                {
                    <div class="row">
                        <div class="col-md-6">
                            <h4>
                                @f.FirstName @f.LastName
                            </h4> 
                        </div>
                        <div class="col-md-6 text-md-right text-sm-left">
                            <a class="btn btn-primary" href="#">Info</a>
                            <a class="btn btn-primary" href="#">messags</a>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>You have no Friendss</p>
            }


        </div>
        <div class="col-md-6" align="left">


            @* List Joined lobbies *@
            <h3>Lobbies</h3>
            @if (Model.Bets.Any())
            { 
            foreach (var l in Model.MemberOfLobbies)
            {
                <div class="row">
                    <div class="col-md-6">
                        <h4>
                            @l.Name
                        </h4>
                    </div>
                    <div class="col-md-6 text-md-right text-sm-left">
                        <a class="btn btn-primary" href="/Lobby/Show/@l.LobbyId">View</a>
                    </div>
                </div>
                }
            }
            else
            {
                <p>You are not member of any lobbies </p>
            }
            <hr/><br/>


        </div>
    </div>
</div>
