@using MVC.ViewModels;

@{
    ViewData["Title"] = "Home Page";
}

@model HomeViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>
                Home
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <span class="label" style="font-size: 20px; background-color: darkslategray">Welcome : @Model.Name </span>
        </div>
        <div class="col-md-6 pull-right">
            <span class="label pull-right" style="font-size: 18px; background-color: darkslategray">Your Balance is : @Model.CurrentBalance </span>
        </div>
    </div>
    <div class="row">
        <br />
    </div>
    <div class="row">
        <div class="col-md-6" align="left">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    @* List Bets *@
                    <h3 class="panel-title">
                        Bets
                    </h3>
                </div>
                <div class="panel-body">
                    @if (Model.Bets.Any(b => !b.IsConcluded) || Model.BetsJudged.Any(b => !b.IsConcluded))
                    {
                        foreach (var b in Model.Bets.Where(b => !b.IsConcluded))
                        {
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>
                                        @b.Name
                                    </h4>
                                </div>
                                <div class="col-md-8">
                                    @if (b.Owner.Username == Model.Username)
                                    {
                                        @Html.ActionLink("Remove", "Remove", new { controller = "Bet", id = b.BetId }, new { @class = "btn btn-raised btn-warning" })
                                    }
                                    <label type="label" class="btn btn-default pull-right" aria-label="Left Align" data-toggle="tooltip" title="Entry fee @b.BuyIn">
                                        @b.BuyIn
                                    </label>
                                    <label type="label" class="btn btn-default pull-right" aria-label="Left Align" data-toggle="tooltip" title="Bet ends @b.StopDate">
                                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                    </label>

                                </div>
                            </div>
                            <hr />
                        }
                        foreach (var item in Model.BetsJudged.Where(b => !b.IsConcluded))
                        {
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>
                                        @item.Name
                                    </h4>
                                </div>
                                <div class="col-md-8">
                                    @if (item.Judge.Username == Model.Username)
                                    {
                                        @Html.ActionLink("Conclude", "Conclude", new { controller = "Bet", id = item.BetId }, new { @class = "btn btn-raised btn-primary" })
                                    }
                                    <label type="label" class="btn btn-default pull-right" aria-label="Left Align" data-toggle="tooltip" title="Entry fee @item.BuyIn">
                                        @item.BuyIn
                                    </label>
                                    <label type="label" class="btn btn-default pull-right" aria-label="Left Align" data-toggle="tooltip" title="Bet ends @item.StopDate">
                                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                    </label>
                                </div>
                            </div>
                            <hr />
                        }
                    }
                    else
                    {
                        <p>You have no active bets</p>
                    }
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Invites
                    </h3>
                </div>
                <div class="panel-body">
                    @if (Model.InvitedToLobbies.Any())
                    {
                        foreach (var l in Model.InvitedToLobbies)
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>
                                        @l.Name
                                    </h4>
                                </div>
                                <div class="col-md-6 text-md-right text-sm-left">
                                    <a href="#" class="btn btn-raised btn-info">
                                        Info
                                    </a>
                                    @Html.ActionLink("Accept", "Accept", new { controller = "Lobby" }, new { @class = "btn btn-raised btn-primary" })
                                </div>
                            </div>
                            <hr />
                        }
                    }
                    else
                    {
                        <p>You have no lobby invites</p>
                    }
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Friendlist
                        <span class="pull-right">
                            @Html.ActionLink("Add Friends", "Index", new { controller = "Friend" }, new { @class = "pull-right" })
                        </span>
                    </h3>
                </div>
                <div class="panel-body">
                    @if (Model.Friendlist.Any())
                    {
                        foreach (var f in Model.Friendlist)
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>
                                        @f.FirstName @f.LastName
                                    </h4>
                                </div>
                                <div class="col-md-6 text-md-right text-sm-left">
                                    <a class="btn btn-raised btn-info" href="#">Info</a>
                                    <a class="btn btn-raised btn-info" href="#">messags</a>
                                </div>
                            </div>
                            <hr />
                        }
                    }
                    else
                    {
                        <p>You have no friends</p>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6" align="left">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    @* List Joined lobbies *@
                    <h3 class="panel-title">
                        Lobbies
                    </h3>
                </div>
                <div class="panel-body">
                    @if (Model.MemberOfLobbies.Any())
                    {
                        foreach (var l in Model.MemberOfLobbies)
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>
                                        @l.Name
                                    </h4>
                                </div>
                                <div class="col-md-6 text-md-right text-sm-left">
                                    <a href="/Lobby/Show/@l.LobbyId" class="btn btn-raised btn-info">View</a>

                                </div>
                            </div>
                            <hr />
                        }
                    }
                    else
                    {
                        <p>You are not member of any lobbies </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
